<head>
    <link rel="stylesheet" type="text/css" href="deck.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <!-- album body -->
    <div class="deck">
        <h1>Active card</h1>
        <div class="active-card-container"></div>
        <div class="card-grid"></div>
    </div>

    <!-- GO BACK BUTTON -->
    <a href="../main-menu/menu.html" class="go-back">GO BACK</a>

    <!-- deck power -->
    <div class="deck-power">Deck power 0 / 12</div>

    <script type="module" src="../../controllers/deck.controller.js"></script>
</body>