<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game View</title>
    <link rel="stylesheet" href="game.css">
</head>

<body>
    <main>
        <section id="game-board">
            <!-- Game content will go here -->
        </section>

        <!-- GO BACK BUTTON -->
        <a href="../main-menu/menu.html" class="go-back">GO BACK</a>
    </main>

    <script src="../../controllers/game.controller.js"></script>
</body>

</html>