body {
    background: url('../../../assets/background.jpg');
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.active-card-container-player {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 450px;
    left: 750px;
}

.active-card-container-cpu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 750px;
}

.card {
    background-color: #6e4141;
    border: 10px solid gold;
    border-radius: 20px;
    box-shadow: 10px 15px 0 rgba(0, 0, 0, 0.4);
    overflow: hidden;
    width: 250px;
    margin: 40px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    background-color: #f8f8f8;
    border-bottom: 10px solid gold;
    padding: 8px;
    text-align: center;
}

.card-title p {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.card-img img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.card-info p {
    margin: 0;
    font-weight: bold;
}

.health {
    background-color: greenyellow;
    padding: 15px 20px;
    border-left: 10px solid gold;
    border-top: 10px solid gold;
    border-radius: 50px 0 0 0;
    font-size: 24px;
}

.power {
    background-color: brown;
    color: white;
    padding: 15px 20px;
    border-right: 10px solid gold;
    border-top: 10px solid gold;
    border-radius: 0 50px 0 0;
    font-size: 24px;
}

/* game UI */

.turn-button {
    position: fixed;
    bottom: 30px;
    right: 50px;
    height: 60px;
    width: 100px;
}

.timer {
    background-color: white;
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px;
    font-weight: bold;
}

.turn-display {
    background-color: white;
    position: fixed;
    top: 20px;
    left: 400px;
    padding: 10px;
    font-weight: bold;
}

.skin-black {
    border: 10px solid black;

    & .card-title {
        border-bottom: 10px solid black;
    }

    & .health {
        border-left: 10px solid black;
        border-top: 10px solid black;
    }

    & .power {
        border-right: 10px solid black;
        border-top: 10px solid black;
    }
}

.skin-white {
    border: 10px solid white;

    & .card-title {
        background-color: #333;
        color: white;
        border-bottom: 10px solid white;
    }

    & .health {
        border-left: 10px solid white;
        border-top: 10px solid white;
    }

    & .power {
        border-right: 10px solid white;
        border-top: 10px solid white;
    }
}

/* Define the rainbow border animation */
@keyframes rainbow-border {
    0% {
        border-color: red;
    }

    14% {
        border-color: orange;
    }

    28% {
        border-color: yellow;
    }

    42% {
        border-color: green;
    }

    57% {
        border-color: blue;
    }

    71% {
        border-color: indigo;
    }

    85% {
        border-color: violet;
    }

    100% {
        border-color: red;
    }
}

.skin-rainbow {
    border: 10px solid;
    animation: rainbow-border 3s linear infinite;
    position: relative;

    & .card-title {
        border-bottom: 10px solid;
        animation: rainbow-border 3s linear infinite;
    }

    & .health {
        border-left: 10px solid;
        border-top: 10px solid;
        animation: rainbow-border 3s linear infinite;
    }

    & .power {
        border-right: 10px solid;
        border-top: 10px solid;
        animation: rainbow-border 3s linear infinite;
    }
}