<head>
    <link rel="stylesheet" type="text/css" href="skins.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <!-- skins body -->
    <div class="deck">
        <!-- <h1>Active card</h1> -->
        <div class="active-card-container" id="skin_1"></div>
        <div class="active-card-container" id="skin_2"></div>
        <div class="active-card-container" id="skin_3"></div>
        <div class="active-card-container" id="skin_4"></div>
    </div>

    <!-- GO BACK BUTTON -->
    <a href="../main-menu/menu.html" class="go-back">GO BACK</a>

    <script type="module" src="../../controllers/skins.controller.js"></script>
    <script type="module" src="../../controllers/user.controller.js"></script>
</body>