<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Menu</title>
    <link rel="stylesheet" href="menu.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <h1>Main Menu</h1>
    <ul>
        <li><a href="../game/game.html" id="menu-play">Play</a></li>
        <li><a href="../album/album.html" id="menu-album">Album</a></li>
        <li><a href="../deck/deck.html" id="menu-deck">Deck</a></li>
        <li><a id="logout-button">Logout</a></li>
    </ul>

    <div id="skin-selector">
        <label for="skin">Select Card Skin:</label>
        <select id="skin">
            <option value="">Default</option>
            <option value="skin-black">Black borders</option>
            <option value="skin-white">White borders</option>
            <option value="skin-rainbow">Rainbow borders</option>
        </select>
    </div>

    <script type="module" src="../../controllers/menu.controller.js"></script>
</body>

</html>